extends layout

block body
  div(ng-controller='tempCtrl')
    div(ng-repeat="sensor in sensors")
      {{ sensor.name }} {{ sensor.data.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}
      ul
        li(ng-repeat="value in sensor.data.values")
          div.sensorvalue
            [{{ value.name }}] 
          div.sensorvalue
            {{ value.temp }}
          div.sensorvalue
            {{ value.hum }}

  div(ng-controller='tempGraphCtrl')
    nvd3-line-chart(data="exampleData",
        showXAxis="true",
        showYAxis="true",
        tooltips="true",
        interactive="true",
        showLegend="true")

  script(src='js/bundle.js')

